body {
  color: white;
  background-color: black;
  /* text-shadow: 2px 2px 8px rgb(97, 223, 232); */
  /* unvisited link */
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(32, 87, 87);
}

/* mouse over link */
a:hover {
  color: rgb(83, 175, 211);
}

/* selected link */
a:active {
  color: blue;
}

.main-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.75rem;
  color: rgb(32, 87, 87);
  margin-bottom: 1.0rem;
}

.navBar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.00rem;
}