body {
  color: white;
  background-color: rgb(255, 255, 255);
  /* text-shadow: 2px 2px 8px rgb(97, 223, 232); */
  /* unvisited link */
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(32, 87, 87);
}

/* mouse over link */
a:hover {
  color: rgb(83, 175, 211);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* selected link */
a:active {
  color: rgb(142, 142, 226);
}

.mainHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 4rem;
  background-color: rgb(240, 240, 240);
}

.main-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.75rem;
  color: rgb(32, 87, 87);
  margin-bottom: .2rem;
  margin-left: 3.5rem;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: .80rem;
}

.link {
  padding-left: 15px;
  font-size: .9rem;
}

.teamGitHubLink {
  padding-left: 15px;
  padding-right: .5rem;
  font-size: .9rem;
}

.login-div {
  padding-left: 15px;
  margin-right: 3.5rem;
  font-size: .9rem;
}