body {
  color: white;
  background-color: black;
  /* text-shadow: 2px 2px 8px rgb(97, 223, 232); */
  /* unvisited link */
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.navBar {
  display: flex;
  flex-direction: row;

}