body {
  color: white;
  font-size: small;
}

.profilediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding-top: 20px;
}

.updatediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a5a2a2;
  border-radius: 10px;
  background-color:	#e5e5e5;
  padding-top: 5%;
  padding-bottom: 2%;
  margin: 30px;
  width: 30%;
  color: black;
}

.userfolderdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #a5a2a2;
  border-radius: 10px;
  background-color:	#e5e5e5;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 30px;
  width: 70%;
  color: black;
  float: left;
}

.folderdiv {
  float: left;
  text-align: center;
  border: 1px solid black;
  background-color:	#e5e5e5;
  margin: 30px;
  padding-bottom: 1%;
  color: black;
  justify-content: center;
  width: 50%;
}

.folderdiv p {
  margin-top: 10px;
  color: rgb(32, 87, 87);
  font-size: large;
}

.folderdiv h3 {
  color: rgb(32, 87, 87);
  margin-bottom: 0px;
}

.updatediv button {
  margin: 20px
}